* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
}
body {
  padding-top: 0;
  background: url("/images/back.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
nav.navbar {
  height: 40px;
  padding: 0;
}
.lang {
  padding: 0;
  color: #f7f4f4;
}
.dropdown-menu {
  background-color: #343a40;
  border: none;
  border-radius: 0;
  margin: 0;
  color: #9f9e9e;
}
a.dropdown-item {
  color: #f7f4f4;
}
a.dropdown-item:hover {
  background-color: #343a40;
  color: #f7f4f4;
  font-weight: bold;
}
.title-main {
  width: 50%;
  text-align: center;
}
.title-main a {
  color: #fff;
  font-size: 2rem;
}
.title-main a:hover {
  color: #fff;
  text-decoration: none;
}
.main-title {
  font-family: 'Lobster', cursive;
}
.right-sec,
.login {
  background-color: #4ee1fc;
  width: 25%;
  text-align: center;
  height: 40px;
}
@media (max-width: 992px) {
  .right-sec,
  .login {
    width: 50%;
  }
  .right-sec .cart-img,
  .login .cart-img {
    margin-left: 2rem;
  }
}
@media (max-width: 768px) {
  a.lang {
    margin-left: 10px;
  }
  .right-sec,
  .login {
    width: 50%;
  }
  .right-sec .cart-img,
  .login .cart-img {
    margin-left: 5rem;
  }
  .cart-msg {
    display: none;
  }
}
@media (max-width: 520px) {
  .right-sec .cart,
  .login .cart {
    width: 25%;
    float: right;
    margin-left: 15px;
  }
  .right-sec .cart-img,
  .login .cart-img {
    margin-left: 1.5rem;
  }
  .right-sec .cart-msg,
  .login .cart-msg {
    display: none;
  }
}
.drop-log {
  padding-right: 0;
  padding-left: 0;
}
.login {
  width: 100%;
  position: relative;
  padding-right: 0;
  color: #fff;
  background-color: #4ee1fc;
}
.login a {
  display: -webkit-inline-box;
  color: #fff;
  padding-top: 5px;
}
.login a:hover {
  text-decoration: none;
}
a.drop-log,
.cart-msg,
a.reg,
.user a.user-name {
  color: #fff;
}
.items-count {
  color: #fff;
  float: right;
  margin-right: 10px;
}
a.reg {
  text-decoration: none;
  padding: 0.5rem;
}
a.reg:hover {
  color: #343a40;
}
a.drop-log:hover,
.user a.user-name:hover {
  color: #343a40;
}
.user {
  list-style: none;
  padding: 0.5rem;
}
.user a.user-name:hover {
  text-decoration: none;
}
.dropdown-login {
  position: absolute;
  min-width: 100%;
  padding: 10px;
  left: 0;
  background-color: #4ee1fc;
}
.dropdown-login> li:last-of-type {
  float: right;
  width: 48%;
}
.dropdown-login .btn {
  margin-top: 30px;
  padding: 10px;
  border-radius: 0;
  width: 100%;
}
.dropdown-login li {
  list-style: none;
}
.form-login {
  width: 100%;
  float: left;
  color: #fff;
}
input.form-control {
  border-radius: 0;
}
.cart {
  width: 50%;
  padding-top: 0.55rem;
  background-color: #4ee1fc;
}
.cart-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-search.fixed {
  position: fixed;
  z-index: 150;
  top: 16px;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.search {
  position: relative;
  margin: 1.5rem 0;
  width: 50%;
  float: right;
  border: none;
}
.cart-with-drop {
  position: relative;
  width: 50%;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}
div.cart-kicks {
  padding: 10px 0;
  background-color: #4ee1fc;
  text-align: center;
}
div.cart-kicks.clickable:hover {
  cursor: pointer;
}
.cart-drop {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border: 2px solid #4ee1fc;
  padding-bottom: 0;
}
.cart-drop li {
  height: 80px;
  padding: 10px;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #4ee1fc;
}
.cart-drop .cart-drop-img {
  float: left;
}
.cart-drop .cart-drop-close {
  float: right;
  padding: 0 6px 1px 7px;
  border: 1px solid #fff;
}
.cart-drop .cart-drop-close:hover {
  cursor: pointer;
  color: #b80303;
  border: 1px solid #b80303;
  border-radius: 50%;
}
.cart-drop a.btn {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #4ee1fc;
  border: 2px solid #4ee1fc;
  background-color: #fff;
  border-radius: 0;
}
.cart-drop a.btn:hover {
  background-color: #4ee1fc;
  color: #fff;
  border-color: #4ee1fc;
}
.cart-drop.show {
  display: block;
}
@media (max-width: 768px) {
  .cart-drop {
    width: 200%;
  }
}
.input {
  width: 90%;
  border: none;
  height: 48px;
  background: #f3f3f3;
  padding-left: 47px;
}
.input:focus,
.btn-search:focus {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem rgba(0,123,255,0.25);
          box-shadow: 0 0 0.1rem 0.1rem rgba(0,123,255,0.25);
  outline: none;
}
.btn-search {
  min-width: 50px;
  position: absolute;
  right: 0;
  top: 2px;
  width: 10%;
  padding: 0;
  border: none;
  border-radius: 0;
  margin-top: -2px;
  margin-left: -5px;
  background: #f3f3f3;
  height: 48px;
}
.cat-nav {
  margin: 0px 0 30px;
  background-color: #f3f3f3;
}
.cat-title {
  color: rgba(0,0,0,0.5);
}
button.navbar-toggler {
  margin-left: 10px;
}
li.nav-item {
  padding: 0 5px;
}
li.nav-item:hover {
  background: #fff;
}
.navbar-nav {
  display: -webkit-inline-box;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #4ee1fc;
}
/**
 *
 * Styles for registration
 *
 */
.reg-title {
  font-size: 1.5rem;
  margin-left: 10px;
}
.radio-item {
  margin-left: 35px;
}
.sub {
  color: #343a40;
  font-weight: bolder;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #343a40;
}
.sub:hover {
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  background-color: #343a40;
}
/**
 *
 * Styles for Items
 *
 */
.hide {
  display: none;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px 5px;
  padding: 5px;
  background-color: #f3f3f3;
  border: 1px solid rgba(0,0,0,0.125);
  border-top: none;
}
.hide .sizes {
  padding: 5px;
  border-top: 1px solid #000;
}
.hide .sizes span.active a {
  color: #00f;
}
.hide .sizes a {
  color: #000;
}
.hide .sizes a:hover {
  text-decoration: none;
}
.hide ul {
  text-align: left;
  padding: 5px;
}
.hide ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 3px;
  border: 1px solid rgba(0,0,0,0.125);
}
.hide ul li a {
  text-decoration: none;
  color: #000;
}
.hide ul li:hover,
.hide ul li.active {
  cursor: pointer;
  background-color: #add8e6;
}
.hide ul li:hover a,
.hide ul li.active a {
  color: #fff;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item {
  padding: 15px;
  position: relative;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item:hover .hide {
  display: block;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item:hover .card {
  border-bottom: none;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item .card {
  border-radius: 0;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item .card .card-body {
  padding-bottom: 5px;
}
div.col-lg-3.col-md-4.col-sm-6.portfolio-item .item-content {
  text-align: center;
}
.item-btn {
  width: 49%;
}
div.card.h-100 {
  background-color: #f3f3f3;
}
.owl-item.active {
  margin: 0;
  overflow: hidden;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.owl-item.active img {
  width: 100%;
  float: left;
}
.owl-item.active img.zoom {
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.prod-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prod-show .col-md-6 .name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prod-show .col-md-6 .name-price .name-model {
  width: 70%;
}
.prod-show .col-md-6 .item-desc {
  font-weight: bold;
}
.prod-show .choose-size {
  font-weight: bold;
}
select#size.form-control {
  border-radius: 0;
}
ul.list-group li.list-group-item {
  border-radius: 0;
  opacity: 0.8;
}
.col-md-6 .card {
  opacity: 0.8;
  border-radius: 0;
}
.col-md-6 .card .card-body {
  padding: 0.5rem;
}
.col-md-6 .card .card-body textarea.form-control {
  border-radius: 0;
}
.col-md-6 .card .card-body button.btn {
  border-radius: 0;
  border: 2px solid #4ee1fc;
  background-color: #fff;
  color: #4ee1fc;
}
.col-md-6 .card .card-body button.btn:hover {
  cursor: pointer;
  background-color: #4ee1fc;
  color: #fff;
}
i.fas.fa-thumbs-up:hover,
i.fas.fa-thumbs-down:hover {
  cursor: pointer;
}
/**
 *
 * styles for 404 page
 *
 */
h2,
p {
  margin-left: 10px;
}
#svg_1,
#svg_8,
#svg_7,
#svg_6,
#svg_3 {
  stroke-dashoffset: 200px;
  stroke-dasharray: 200px;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}
#svg_4,
#svg_5 {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}
#svg_2 {
  stroke-dasharray: 705px;
  stroke-dashoffset: 705px;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}
footer {
  width: 100%;
  line-height: 60px;
  margin-top: 20px;
  background-color: #343a40;
}
#basket {
  min-height: 600px;
}
.cart-register {
  margin-top: 50px;
  opacity: 0.8;
  border-radius: 0;
}
.cart-content {
  margin: 0 auto;
  padding-top: 50px;
  opacity: 0.8;
}
.cart-content .make-order {
  margin-top: 10px;
}
.cart-content .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.cart-content .cart-total .cart-price {
  margin-left: 10px;
}
.cart-content .cart-item {
  border-radius: 0;
}
.cart-content .cart-item .basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: larger;
}
.cart-content .cart-item .basket-item .whole-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}
.cart-content .cart-item .basket-item .whole-item select {
  margin-left: 20px;
}
.cart-content .cart-item .basket-item .whole-item .cart-item-words {
  margin-left: 20px;
  font-size: large;
  color: #240000;
}
.cart-content .cart-item .basket-item .whole-item .delete-item {
  margin-left: 30px;
}
.cart-content .cart-item .basket-item .whole-item .delete-item .btn {
  border-radius: 0;
}
@media (max-width: 768px) {
  .cart-content .cart-total {
    font-size: 0.9rem;
  }
  .cart-content .cart-item .card-body .basket-item .whole-item {
    display: block;
  }
  .cart-content .cart-item .card-body .basket-item .whole-item .delete-item {
    margin-left: 20px;
    margin-top: 5px;
  }
  .cart-content .cart-item .card-body .basket-item .whole-item .select-size {
    margin-right: 10px;
  }
  .table th,
  .table td {
    padding: 0;
  }
}
.orders-view {
  min-height: 600px;
  margin-top: 15px;
  color: #fff;
  background-color: #000;
  opacity: 0.7;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
