{% extends '@App/layout.html.twig' %}

{% block body %}
    <h2>Wellcome to admin</h2>
    <hr />
    <a href="{{ path('admin_products_page') }}">List of products</a>
{% endblock %}

{% block title %}
    Admin
{% endblock %}
