h2 {
  color: #636161;
}
img {
  margin-right: 5px;
  border: 1px solid #636161;
}
ul {
  padding-left: 10px;
}
li {
  background: linear-gradient(to bottom, #D8FEEB, #7CADF6);
  border-radius: 5px;
  width: 370px;
  padding: 5px;
  margin: 5px;
}
input {
  background: #7CADF6;
  border: 1px solid #D8FEEB;
  border-radius: 5px;
  padding: 3px;
  height: 29px;
}
