h2 {
  color: #636161;
}
img {
  margin-right: 5px;
  border: 1px solid #636161;
}
ul {
  padding-left: 10px;
}
li {
  background: linear-gradient(to bottom, #D8FEEB, #7CADF6);
  border-radius: 5px;
  width: 360px;
  padding: 5px;
  margin: 5px;
  padding-left: 15px;
}
input {
  background: #90D0EA;
  border: 1px solid #7CADF6;
  border-radius: 5px;
  padding: 3px;
  height: 29px;
}
